.content {
    /* margin-left: 300px; */
    /* Chiều rộng của thanh điều hướng plus một chút khoảng cách */
    width: 100vh;
    padding: 20px;
}

table {
    border-collapse: separate;
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 15px;
    text-align: left;
}